<style> 
.grid_class {
	--square_size: 123px;
	grid-template-columns: repeat(3, var(--square_size));
	grid-template-rows: repeat(3, var(--square_size));
	background-image: url("Background.png");
	background-repeat: no-repeat;
	display: grid;
	grid-gap: 8px;
}
.x_mark {
	background-image: url("X.png");
	position: relative;
	top: 3px;
	left: 2px;
	height: var(--square_size);
}
.o_mark {
	background-image: url("O.png");
	position: relative;
	top: 3px;
	left: 1px;
	height: var(--square_size);
	width: 124px
}
.blank_mark {
}
</style>
	
<div class = "grid_class">
	<a href="click0"><div class = <%=$marks[0]%>> </div> </a>
	<a href="click1"><div class = <%=$marks[1]%>> </div> </a>
	<a href="click2"><div class = <%=$marks[2]%>> </div> </a>
	<a href="click3"><div class = <%=$marks[3]%>> </div> </a>
	<a href="click4"><div class = <%=$marks[4]%>> </div> </a>
	<a href="click5"><div class = <%=$marks[5]%>> </div> </a>
	<a href="click6"><div class = <%=$marks[6]%>> </div> </a>
	<a href="click7"><div class = <%=$marks[7]%>> </div> </a>
	<a href="click8"><div class = <%=$marks[8]%>> </div> </a>
</div>